{% extends 'base.html' %} {% block content %}

<h2>Sửa Chapter</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label>Tên chapter</label>
  <input type="text" name="title" value="{{ chapter.title }}" required />

  <label>Số chapter</label>
  <input
    type="number"
    name="chapter_number"
    value="{{ chapter.chapter_number }}"
    required
  />

  <label>Nội dung</label>
  <textarea name="content" rows="6">{{ chapter.content }}</textarea>

  <label>Thêm ảnh mới</label>
  <input type="file" name="images" multiple />

  <button class="btn" type="submit">Lưu thay đổi</button>
</form>

<br />

<a href="{% url 'chapter_detail' chapter.id %}">← Quay lại chapter</a>

{% endblock %}
